[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
gunicorn = "*"
django-bootstrap-v5 = "*"
django-compressor = "*"
libsass = "*"
django-sass-processor = "*"

[dev-packages]

[requires]
python_version = "3.10"
