{% extends 'base.html' %}
{% block content%}




<div class="container-fluid p-0 pb-5 wow fadeIn" data-wow-delay="0.1s">
	<div class="owl-carousel header-carousel position-relative">
		<div class="owl-carousel-item position-relative" data-dot="<img src='/media/img/tuit_slide_one.jpg'>">
			<img class="img-fluid" src="/media/img/tuit_slide_one.jpg" alt="">
			<div class="owl-carousel-inner">
				<div class="container">
					<div class="row justify-content-start">

					</div>
				</div>
			</div>
		</div>
		<div class="owl-carousel-item position-relative" data-dot="<img src='/media/img/tuit_slide_two.jpg'>">
			<img class="img-fluid" src="/media/img/tuit_slide_two.jpg" alt="">
			<div class="owl-carousel-inner">
				<div class="container">
					<div class="row justify-content-start">

					</div>
				</div>
			</div>
		</div>
		<div class="owl-carousel-item position-relative" data-dot="<img src='/media/img/tuit_slide_four.jpg'>">
			<img class="img-fluid" src="/media/img/tuit_slide_four.jpg" alt="">
			<div class="owl-carousel-inner">
				<div class="container">
					<div class="row justify-content-start">

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-xxl py-5">
	<div class="container">
		<div class="row g-5">
			<div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
				<div class="d-flex align-items-center mb-4">
					<div class="btn-lg-square bg-primary rounded-circle me-3">
						<i class="fa fa-graduation-cap text-white"></i>
					</div>
					<h1 class="mb-0" data-toggle="counter-up">3453</h1>
				</div>
				<h5 class="mb-3">Magistr talabalar</h5>
			</div>
			<div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
				<div class="d-flex align-items-center mb-4">
					<div class="btn-lg-square bg-primary rounded-circle me-3">
						<i class="fa fa-graduation-cap text-white"></i>
					</div>
					<h1 class="mb-0" data-toggle="counter-up">4234</h1>
				</div>
				<h5 class="mb-3">Bakalavr talabalar</h5>
			</div>
			<div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
				<div class="d-flex align-items-center mb-4">
					<div class="btn-lg-square bg-primary rounded-circle me-3">
						<i class="fa fa-users text-white"></i>
					</div>
					<h1 class="mb-0" data-toggle="counter-up">267</h1>
				</div>
				<h5 class="mb-3">O'qituvchilar</h5>
			</div>
			<div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
				<div class="d-flex align-items-center mb-4">
					<div class="btn-lg-square bg-primary rounded-circle me-3">
						<i class="fa fa-briefcase text-white"></i>
					</div>
					<h1 class="mb-0" data-toggle="counter-up">47</h1>
				</div>
				<h5 class="mb-3">Hamkorlar</h5>

			</div>
		</div>
	</div>
</div>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
	integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous" />

<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
	<div class="container about px-lg-0">
		<div class="row g-0 mx-lg-0">
			<div class="col-lg-6 ps-lg-0 wow fadeIn" data-wow-delay="0.1s" style="min-height: 400px;">
				<div class="position-relative h-100">
					<img class="position-absolute img-fluid w-100 h-100" src="/media/img/rektor.jpg"
						style="object-fit: cover;" alt="">
				</div>
			</div>
			<div class="col-lg-6 about-text py-5 wow fadeIn" data-wow-delay="0.5s">
				<div class="p-lg-5 pe-lg-0">
					<h6 class="text-primary" style="font-size: 2rem; margin-bottom: 2rem;">Biz haqimizda</h6>
					<p>"Multimedia texnologiyalari” kafedrasi Toshkent axborot texnologiyalari
						universiteti Ilmiy Kengashining
						(2011-yil 27-oktabrda 3(609) son bayoni) qarorini amalga oshirish maqsadida Toshkent axborot
						texnologiyalari
						universitetining 21.11.11 dagi 1070-sonli buyrug‘i asosida tashkil etildi.

						"Multimedia texnologiyalari” kafedrasiga biriktirilgan "Multimedia injiniringi” yo‘nalishi
						bo‘yicha har
						yili
						100 ga yaqin bakalavr talabalarining bitiruv oldi amaliyoti, ishlab chiqarish amaliyoti va
						o‘quv
						amaliyotlari tashkil etiladi. Kafedrada profesor-o‘qituvchilarining rahbarligida 50 ga yaqin
						bakalavrlik
						bitiruv malakaviy hamda 10 ga yaqin magistrlik ilmiy dissertatsiyalari himoya qilinadi.</p>
					<p><i class="fa fa-user text-primary me-3"></i>Kafedra mudiri: Nazirova Elmira Shodmonovna</p>
					<p><i class="fa fa-clock text-primary me-3"></i>Ish vaqti: Dushanba-Shanba (15:00-17:00)</p>
					<p><i class="fa fa-phone-alt text-primary me-3"></i>Tel: (0 371) 238-65-99</p>
					<p><i class="fa fa-envelope text-primary me-3"></i>Email: e.nazirova@tuit.uz</p>
					<a href="/kafedra" class="btn btn-primary rounded-pill py-3 px-5 mt-3">Batafsil</a>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="container-xxl py-5">
	{% for category in three_categories %}
	<div class="container">
		<div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
			<h1 class="text-primary">So'nggi Yangiliklar</h1>
		</div>
		<div class="row g-4">
			{% for news in category.news_set.all %}
			{% if forloop.counter < 5 %}
			<div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
				<div class="service-item rounded overflow-hidden">
					<img class="img-fluid" src="/media/{{news.image}}" alt="{{news.title}}" style="height: 250px; width: 400px;object-fit: cover;">
					<div class="position-relative p-4 pt-0">

						<h4 class="my-3">{{news.title}}</h4>
						<!-- <p>Biz quyosh va qayta tiklanadigan energiya sanoatining yutimizda
							rivojlantiramiz</p> -->
						<a class="small fw-medium" href="/detail/{{news.id}}">Batafsil<i
								class="fa fa-arrow-right ms-2"></i></a>
					</div>
				</div>
			</div>
			{% endif %}
			{% endfor %}

		</div>
		{% endfor %}
	</div>
</div>




<!-- Team Start -->
<div class="container-xxl py-5">
	<div class="container">
		<div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
			<h1 class="text-primary">Tajribali O'qituvchilar</h1>
		</div>
		<div class="row g-4">
			<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
				<div class="team-item rounded overflow-hidden">
					<div class="d-flex">
						<img class="img-fluid w-75" src="/media/img/author-image1.jpg" alt="">
						<div class="team-social w-25">
							<a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i
									class="fab fa-facebook-f"></i></a>
							<a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i
									class="fab fa-twitter"></i></a>
							<a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i
									class="fab fa-instagram"></i></a>
						</div>
					</div>
					<div class="p-4">
						<h5>Sohibov Anvar</h5>
						<span>Mobil dasturlash o'qituvchisi</span>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
				<div class="team-item rounded overflow-hidden">
					<div class="d-flex">
						<img class="img-fluid w-75" src="/media/img/author-image2.jpg" alt="">
						<div class="team-social w-25">
							<a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i
									class="fab fa-facebook-f"></i></a>
							<a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i
									class="fab fa-twitter"></i></a>
							<a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i
									class="fab fa-instagram"></i></a>
						</div>
					</div>
					<div class="p-4">
						<h5>Odilova Nargiza</h5>
						<span>Mobil dasturlash o'qituvchisi</span>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
				<div class="team-item rounded overflow-hidden">
					<div class="d-flex">
						<img class="img-fluid w-75" src="/media/img/author-image3.jpg" alt="">
						<div class="team-social w-25">
							<a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i
									class="fab fa-facebook-f"></i></a>
							<a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i
									class="fab fa-twitter"></i></a>
							<a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i
									class="fab fa-instagram"></i></a>
						</div>
					</div>
					<div class="p-4">
						<h5>Karimova Madina</h5>
						<span>Mobil dasturlash o'qituvchisi</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Team End -->


<!-- Testimonial Start -->
<div class="container-xxl py-5">
	<div class="container">
		<div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
			<h1 class="text-primary">Iqtidorli Talabalar</h1>
		</div>
		<div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
			<div class="testimonial-item text-center">
				<div class="testimonial-img position-relative">
					<img class="img-fluid rounded-circle mx-auto mb-5" src="/media/img/testimonial-1.jpg">

				</div>
				<div class="testimonial-text text-center rounded p-4">
					<p>Til bilish darajasi: Rus tili, Ingliz tili</p>
					<p>Dasturlash mahorati: C++, Java</p>
					<p>Oʻrtacha ball : 4.47</p>
					<h5 class="mb-1">Daliyeva Iroda Ikrom qizi</h5>
				</div>
			</div>
			<div class="testimonial-item text-center">
				<div class="testimonial-img position-relative">
					<img class="img-fluid rounded-circle mx-auto mb-5" src="/media/img/testimonial-2.jpg">

				</div>
				<div class="testimonial-text text-center rounded p-4">
					<p>Til bilish darajasi: Rus tili, Ingliz tili</p>
					<p>Dasturlash mahorati: C++, Java</p>
					<p>Oʻrtacha ball : 4.47</p>
					<h5 class="mb-1">Qodirov Davron Inom o'gli</h5>
				</div>
			</div>
			<div class="testimonial-item text-center">
				<div class="testimonial-img position-relative">
					<img class="img-fluid rounded-circle mx-auto mb-5" src="/media/img/testimonial-3.jpg">

				</div>
				<div class="testimonial-text text-center rounded p-4">
					<p>Til bilish darajasi: Rus tili, Ingliz tili</p>
					<p>Dasturlash mahorati: C++, Java</p>
					<p>Oʻrtacha ball : 4.47</p>
					<h5 class="mb-1">Inomov Umarjon Qosim o'gli</h5>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Testimonial End -->
{% endblock%}